@import url('https://fonts.googleapis.com/css?family=ZCOOL+XiaoWei');
@import url('https://fonts.googleapis.com/css?family=PT+Sans');
@import url('https://fonts.googleapis.com/css?family=Work+Sans');
@import url('https://fonts.googleapis.com/css?family=Sarabun');


body{
    margin: 0;
    padding: 0;
}

.container_topbar{
    background-color: rgb(253, 253, 253);
    width: 100%;
    min-width: 800px;
    height: 75px;
    overflow: auto;
    box-shadow: 0px -1px 15px 1px rgb(7, 41, 127);/*rgb(66, 91, 255);*/
}

.topbar{
    background-color: rgb(253, 253, 253);
    color: rgb(30, 30, 30);
    width: 1000px;
    height: 75px;
    margin-left: auto;
    margin-right: auto;
}

.topbar_logo{
    background-color: rgb(26, 64, 124);
    color: white;
    float: left;
    width: 300px;
    height: 75px;
    line-height: 75px;
    font-family: 'Sarabun', sans-serif;
    font-size: 24px;
    font-weight: 400;
    text-align: center;
    overflow: auto;
}

.topbar_button{
    background-color: inherit;
    color: rgb(219, 67, 37);
    width: 150px;
    height: 75px;
    float: right;
    font-family: 'PT Sans', sans-serif;
    font-size: 17px;
    text-align: center;
    line-height: 75px;
}

.topbar_button:hover{
    color: rgb(209, 20, 0);
    font-weight: 600;
}

